<!doctype html>
<html>

<head>
    <title>Water Quality</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="" style="width: 100%;height:500px;background-image:url('static/water.png')">
        <br>
        <br>
        <h1 class="display-1">
            <p class="text-center"><b>Water Quality Detemination</b></p>
        </h1>
        <p class="text-center fs-2">ANLY605 - Group 7<br>Fangping Cao, Yecheng Huang, Jia Song</p>
        <br>
        <div class="container">
            <p class="fs-5">According to the 2012 World Water Report, by 2030, 47% of the world's population will live
                in areas with severe water scarcity. Therefore, human beings will always try to explore new potential
                water sources, and for any newly discovered water sources, water quality testing is the most important
                link. And the application we made can make this process faster. We have trained a relatively complete
                model using data containing nine variables, and users can obtain the statistical analysis results of
                each indicator based on the drinkable level by inserting various indicators of the detection target.</p>
        </div>

    </div>


    <div class="container">
        <iframe src="{{href}}" height="1000px" width="1400px" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="container">
        <form method="post">
            <div class="row gy-2">
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value1" class="col-form-label">Ph Value</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value1" class="form-control" value="7.06" name="f1">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value2" class="col-form-label">Hardness</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value2" class="form-control" value="196" name="f2">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value3" class="col-form-label">Solids</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value3" class="form-control" value="22174" name="f3">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value4" class="col-form-label">Chloramines</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value4" class="form-control" value="7.15" name="f4">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value5" class="col-form-label">Sulfate</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value5" class="form-control" value="334" name="f5">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value6" class="col-form-label">Conductivity</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value6" class="form-control" value="428" name="f6">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value7" class="col-form-label">Organic_carbon</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value7" class="form-control" value="14" name="f7">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value8" class="col-form-label">Trihalomethanes</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value8" class="form-control" value="66.8" name="f8">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="value9" class="col-form-label">Turbidity</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="value9" class="form-control" value="3.9" name="f9">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

    </div><br>



    <p class="text-center fs-2">Or, input a csv format list of features: </p>
    <form method="post">
        <div class="container">
            <div class="row">
                <div class="mb-3 col-10">
                    <input type="text" class="form-control" id="exampleInputEmail1" name="new_data">
                    <div id="emailHelp" class="form-text">Example: 7.06,196,22174,7.15,334,428,14,66.8,3.9 </div>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <br><br><br>
    <br>


</body>

</html>